*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

:root {
  --primary: #375878;
  --secondary: #7dd3fc;
  --txt-color: #6b7280;
  --font-desktop: 1.05rem;
  --font-mobile: 1rem;
}

body {
  font-family: "Figtree", sans-serif;
}

/* Navbar */
.nav-container {
  width: 100%;
  padding-block: 1rem;
  margin-inline: auto;
  background-color: white;
  box-shadow: -1px 6px 7px 1px rgba(102, 102, 101, 0.24);

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 9999;
}

.nav-container .logo a {
  text-decoration: none;
  color: var(--secondary);
  font-weight: 700;
  font-size: 2rem;
}

.nav-container .logo a span {
  color: var(--primary);
}

.nav-container .nav-list ul {
  padding-left: 0;

  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

.nav-container .nav-list li {
  list-style-type: none;
}

.nav-container .nav-list li a {
  padding: 0.5rem 1rem;

  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: #000;

  transition: all 0.2s ease-in-out;
}

.nav-container .nav-list li:hover a {
  color: var(--secondary);
}

/* Hero Section */
article#hero {
  min-height: 100vh;
  margin: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.hero-description {
  display: flex;
  flex-flow: column nowrap;
}

.hero-description .hero-title {
  font-size: 3rem;
  color: #357998;
}

.hero-description p {
  color: var(--txt-color);
  font-weight: 400;
  margin-block: 0.5rem;
  font-size: var(--font-desktop);
  line-height: 1.5rem;
}

.hero-description button {
  border: var(--primary);
  padding: 0.8rem 1rem;
  border-radius: 999px;
  background-color: var(--primary);
  cursor: pointer;
  width: fit-content;
  transition: all 0.15s ease-in;
}

.hero-description button:hover {
  background-color: #1b3752;
  transform: scale(1.1);
}

.hero-description button a {
  text-decoration: none;
  color: white;
}

/* Project section */
article#project {
  margin: 3rem;
  display: flex;
  flex-direction: column;
}

article#project header {
  text-align: center;
  margin-inline: auto;
  max-width: 30rem;
}

article#project header .project-title {
  color: #357998;
  font-size: 2.8rem;
}

article#project header p {
  font-size: var(--font-desktop);
  color: var(--txt-color);
  margin-block: 0.5rem;
}

article#project .card-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 1rem;
  gap: 2rem;
}

article#project section.card-project {
  box-shadow: -14px 16px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

article#project section.card-project:hover {
  transform: scale(1.1);
}

article#project section.card-project img {
  border-bottom: 2px solid grey;
}

section.card-project .card-title {
  color: var(--primary);
}

section.card-project .card-description {
  font-size: var(--font-desktop);
  font-weight: 400;
  color: var(--txt-color);
  padding: 0.3rem 0;
}

section.card-project .card-link {
  color: var(--secondary);
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

/* Skill Section */
article#skill {
  background-color: #1f2937;
  height: 100vh;
}

article#skill header {
  padding: 1rem 5rem;
  width: 70%;
}

article#skill .skill-title {
  color: white;
  font-size: 2.8rem;
}

article#skill header p {
  font-size: var(--font-desktop);
  color: var(--txt-color);
  margin-block: 0.5rem;
}

#slider-container {
  overflow: hidden;
  height: auto;
  overflow-x: auto;
}

#slider {
  margin-top: 5rem;
  display: flex;
  width: fit-content; /* Lebar sesuai dengan konten (total lebar semua gambar) */
  transition: transform 0.5s ease;
}

#slider img {
  margin-right: 10px; /* Jarak antar gambar */
  width: 10rem; /* Lebar gambar */
  height: auto; /* Sesuaikan tinggi secara proporsional */
}

/* Aside */
main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

main aside .social-media {
  height: 100%;
  display: flex;
}

main aside .social-media ul {
  padding: 0.6rem 0.4rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin: auto;
  background-color: var(--primary);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

main aside .social-media li {
  list-style-type: none;
}

main aside .social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;

  transition: all 0.1s ease-in-out;
}

main aside .social-media li a:hover {
  color: var(--secondary);
}

/* Medium devices (768px dan di bawahnya)  */
@media screen and (max-width: 768px) {
  /* Navbar */
  header.nav-container {
    flex-direction: column;
  }

  header.nav-container .logo a {
    font-size: 1.8rem;
  }

  header.nav-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }
  /* Hero  */
  article#hero {
    flex-direction: column;
    gap: 10px;
  }

  .hero-description .hero-title {
    font-size: 2.1rem;
    text-align: center;
  }

  .hero-description p {
    font-size: var(--font-mobile);
  }

  .hero-description button {
    text-align: center;
  }

  .hero-image {
    order: -1;
  }

  .hero-image img {
    width: 20rem;
  }

  /* Project section */
  article#project header .project-title {
    font-size: 1.9rem;
  }

  article#project section.card-project img {
    width: 300px;
  }

  /* Skill section */
  article#skill header {
    padding: 1rem 2rem;
    width: 100%;
  }

  article#skill header .skill-title {
    font-size: 1.9rem;
  }
}
