* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  font-family: "Quicksand", sans-serif;
}

h2,
h3 {
  color: #00a2c6;
}

footer {
  padding: 20px;
  color: white;
  background-color: #00a2c6;
  text-align: center;
  font-weight: bold;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: bold;
}

.profile header {
  text-align: center;
}

.featured-img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
}

.profile img {
  width: 200px;
}

.card {
  box-shadow: -14px 16px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.jumbotron {
  background-color: #00c8eb;
  text-align: center;
  font-size: 20px;
  padding: 60px;
  color: white;
}

nav {
  background-color: #00a2c6;
  padding: 15px;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  gap: 2rem;
  padding-inline: 4rem;
}

nav li {
  list-style-type: none;
}

main {
  padding: 30px;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.left-content {
  flex: 5;

  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

.right-content {
  flex: 1;
}

header {
  display: inline;
}

/* Perangkat dengan lebar layar 1200px dan di bawahnya */
@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }
  .right-content {
    align-self: center;
  }
}

/* Perangkat dengan lebar layar 768px dan di bawahnya */
@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }
  .right-content {
    align-self: stretch;
  }
}
